.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

p {
  font-size: 1.5rem;
}

.info-panel {
  width: 350px;
  font-size: 1.2rem;
  color: #333;
  text-align: left;
  padding-right: 20px;
}

.tree-chart {
  width: 900px;
  height: 700px;
  display: inline-block;
}

input[type="text"] {
  width: 350px;
  height: 40px;
  font-size: 2.5rem;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  font-size: 2.5rem;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 10px;
  background: lightgray;
  border: 1px solid black;
  pointer-events: none;
  font-size: 1rem;
  color: black;
  display: none;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  gap: 50px; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
}
